# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pt
*.bin

# Data
data/processed/

# Outputs
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db