fastapi
uvicorn
streamlit

pandas
numpy

matplotlib
seaborn
plotly

scikit-learn

torch
transformers
datasets
accelerate

spacy
nltk
textblob

langchain
langchain-community
langchain-google-genai

chromadb

sentence-transformers

shap

python-dotenv

wordcloud

tqdm

jupyter

pytest

black

isort